html {
    background: url(https://images.unsplash.com/photo-1636123700937-ec5d1d9d68f9?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

.middle{
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 5px #000;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
}
 h1{
  margin-bottom: 0px;
  padding-bottom: 0px;
 }
nav{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    flex-wrap: wrap;
    flex-flow: column wrap;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    
 }   

 a{ margin-right: 80px;
 }

/* unvisited link */
a:link {
    color: hotpink;
    background-color: #00000046;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    radius: 5px
  }
  
  /* visited link */
  a:visited {
    color: rgb(95, 238, 124);
    background-color: #000;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(149, 114, 213);
    background-color: #fcb1f446;
  }
  
  /* selected link */
  a:active {
    color: rgb(116, 116, 255);
  }

  p{
    padding-top: 70px;
    margin-top: 70px;
    font-size: 24px;
    text-shadow: 2px 2px 5px #000;
    position: absolute;
    left: 45vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .footer{
    color: #ffffff;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: left;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
  }
